.seccion{
    background-color: rgb(79, 126, 255);
      display: grid;
      grid-template-columns: auto;}
h2{
      text-align: center;
      font-size: 40px;
      padding-top: 20px;
      background-color: rgb(79, 126, 255);
img{
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
     align-content: center;
  }
}